@font-face {
    font-family: 'Montserrat';
    src: url('./fonts/Montserrat-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Montserrat';
    src: url('./fonts/Montserrat-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Montserrat';
    src: url('./fonts/Montserrat-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Montserrat';
    src: url('./fonts/Montserrat-ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

/**
  Нормализация блочной модели
 */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
    padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure):where([class]) {
    margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul,
  ol,
  dl
):where([class]) {
    margin-block: 0;
}

:where(dd[class]) {
    margin-left: 0;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
    list-style: none;
}

/**
  Упрощаем работу с изображениями
 */
img {
    display: block;
    max-width: 100%;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
    font: inherit;
}

html {
    /**
      Пригодится в большинстве ситуаций
      (когда, например, нужно будет "прижать" футер к низу сайта)
     */
    height: 100%;
    /**
      Плавный скролл
     */
    scroll-behavior: smooth;
}

body {
    /**
      Пригодится в большинстве ситуаций
      (когда, например, нужно будет "прижать" футер к низу сайта)
     */
    min-height: 100%;
    /**
      Унифицированный интерлиньяж
     */
    line-height: 1.5;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

:root {
    --color-white: #fff;
    --color-dark: #141414;
    --color-dark-grey: #1a1a1a;
    --color-red: #df2531;
    --color-dark-red: #981F27;
    --color-grey: #7f7f7f;

    --font-family: 'Montserrat', sans-serif;

    --coontainer-width: 1843px;
    --container-padding-x: 15px;

    -moz-transition-duration: 0.2s;

    --defoult-font-size: clamp(1rem, 1.25vw, 1.5rem);
    --title-font-size: clamp(1.5rem, 1.7vw, 2rem);

    --defoult-br: 20px
}

body {
    overflow-x: hidden;
    background-color: var(--color-dark);
    font-family: var(--font-family);
    color: var(--color-white);
    font-size: var(--defoult-font-size);
}

.container {
    max-width: calc(var(--coontainer-width) + var(--container-padding-x) * 2);
    margin-inline: auto;
    padding-inline: var(--container-padding-x);
}

header {
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 10;
}

a {
    text-decoration: none;
    color: var(--color-white);
}

header a {
    white-space: nowrap;
}

.visually-hidden {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    margin: -1px !important;
    border: 0 !important;
    padding: 0 !important;
    white-space: nowrap !important;
    clip-path: inset(100%) !important;
    clip: rect(0 0 0 0) !important;
    overflow: hidden !important;
}

.navbar {
    width: fit-content;
    background-color: var(--color-dark-grey);
    border: 2px solid var(--color-red);
    border-radius: 50px;
    margin-top: 2rem;
    padding-inline: 1rem;
}

.navlinks {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 1rem 2rem;
    gap: 4rem;
}

.nav-link {
    font-weight: normal;
}

.hello-block {
    position: relative;
}
.hello-content {
    padding-inline: 2.75rem;
    position: relative;
    z-index: 1;
    height: calc(100vh - 104px);
    display: flex;
    flex-direction: column;
}
.hello-description {
    padding: 5rem 0;
    display: flex;
    flex: 1;
    justify-content: center;
    flex-direction: column;
}
.hello-title {
    font-size: clamp(4rem, 7vw, 8rem);
    font-weight: normal;
}
.hello-description p {
    font-size: clamp(1.3rem, 2vw, 2rem);
    font-weight: 300;
}
.hello-btns {
    display: flex;
    justify-content: center;
    padding-bottom: 5rem;
    gap: 8rem;
}
.do-a-offer {
    white-space: nowrap;
    padding: calc(var(--defoult-font-size)/2 * 1.2) calc(var(--defoult-font-size)/2 * 1.2 * 1.4);
    background-color: var(--color-red);
    border-radius: var(--defoult-br);
    border: none;
    color: var(--color-white);
}
.my-projects {
    white-space: nowrap;
    padding: calc(var(--defoult-font-size)/2 * 1.2) calc(var(--defoult-font-size)/2 * 1.2 * 1.4);
    color: var(--color-white);
    background-color: var(--color-dark-grey);
    border-radius: var(--defoult-br);
    border: none;
}
.my-projects::after {

}
.blurs {
    position: absolute;
    inset: 0;
    z-index: -1;
}
.blur-1 {
    position: absolute;
    top: -20%;
    left: -10%;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: #981F27;
    filter: blur(120px);
}
.blur-2 {
    position: absolute;
    top: 20%;
    left: 90%;
    width: 300px;
    height: 500px;
    border-radius: 50%;
    background: #981F27;
    filter: blur(120px);
}

.info {
    flex-direction: column;
    min-height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-dark-grey);
}

.info-blocks {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 29px;
    grid-row-gap: 22px;
    justify-content: space-around;
    align-content: space-around;
    padding: 8rem 1.5rem 0;

}

.info-blocks > * {
    display: flex;
    padding: 2rem 1.25rem;
}

.info-block-title {
    font-size: var(--title-font-size);
    font-weight: 500;
    padding-bottom: 1rem;
    padding-inline: 1rem ;
}

.price-list {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}

.price-list li {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.price {
    white-space: nowrap;
    padding: 1rem;
}

.service {
    padding: 1rem;
}

.complex-price-list .service, .frontend-price-list .service {

}

.about-me {
    grid-area: 1 / 1 / 2 / 3;
    background-color: var(--color-dark);
    border-radius: var(--defoult-br);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 2rem 0;
}

.about-me img {
    background-color: var(--color-grey);
    align-self: center;
    width: 200px;
    aspect-ratio: 1;
    border-radius: 50%;
}

.my-name {
    font-size: var(--title-font-size);
    font-weight: 500;
}

.my-spec {
    font-weight: 200;
}

.slogan {
    grid-area: 2 / 1 / 3 / 2;
    background-color: var(--color-dark);
    border-radius: var(--defoult-br);
}

.slogan p {
    width: 100%;
    font-size: var(--title-font-size);
    font-weight: 200;
    min-width: 300px;
}

.focus {
    font-weight: 500;
}

.discuss-the-project {
    grid-area: 2 / 2 / 3 / 3;
    background-color: var(--color-red);
    border-radius: var(--defoult-br);
    min-width: 300px;
}

.discuss-the-project a {
    width: 100%;
    font-weight: 500;
    font-size: var(--title-font-size);
}

.design-price-list, .complex-price-list, .frontend-price-list {
    display: flex;
    flex-direction: column;
}

.info-block-description-container {
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: space-between;
}


.design-price-list {
    grid-area: 1 / 3 / 3 / 5;
    background-color: var(--color-dark);
    border-radius: var(--defoult-br);
}

.complex-price-list {
    grid-area: 2 / 5 / 3 / 7;
    background-color: var(--color-dark);
    border-radius: var(--defoult-br);
}
.frontend-price-list {
    grid-area: 1 / 5 / 2 / 7;
    background-color: var(--color-dark);
    border-radius: var(--defoult-br);
}

.info-ps {
    font-size: var(--defoult-font-size);
    font-weight: 200;
    width: 100%;
    text-align: center;
    padding: 2rem 0 6rem;
}

@media (max-width: 1700px) {
    .info-blocks {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, auto);
        padding: 4rem 5rem 0;
    }

    .about-me { grid-area: 1 / 1 / 2 / 3; }
    .slogan { display: none }
    .discuss-the-project { display: none }
    .design-price-list { grid-area: 2 / 1 / 3 / 3; }
    .frontend-price-list { grid-area: 3 / 1 / 4 / 2; }
    .complex-price-list { grid-area: 3 / 2 / 4 / 3; }

    .info-blocks > * {
        padding: 2rem 0.2rem;
    }

}

@media (max-width: 1200px) {
    .info-blocks {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, auto);
        padding: 4rem 2rem 0;
    }

    .about-me { grid-area: 1 / 1 / 2 / 3; }
    .design-price-list { grid-area: 2 / 1 / 3 / 3; }
    .frontend-price-list { grid-area: 3 / 1 / 4 / 3; }
    .complex-price-list { grid-area: 4 / 1 / 5 / 3; }

    .about-me img {
        width: 150px;
        margin-inline: 1rem;
    }

}

@media (max-width: 800px) {

    .nav-link {
        padding: 1rem;
        background-color: var(--color-dark-grey);
        border-radius: 15px;
    }
    .nav-link:hover {
        background-color: var(--color-red);
        transition-duration: 0.2s;

    }
    .navbar {
        margin-top: 0.7rem;
        border: none;
        padding: 0;
        width: 95%;
        border-radius: 10px;
        background-color: rgba(26, 26, 26, 0.63);
        backdrop-filter: blur(10px); /* Размытие фона под хедером */
        -webkit-backdrop-filter: blur(10px); /* Для Safari */
    }
    .navlinks {
        gap: 0;
        justify-content: space-around;
        padding-inline: 0.5rem;
    }

    .about-me img {
        width: 100px;
    }
}

@media (max-width: 550px) {

    .nav-link {
        border-radius: 10px;
        padding: 0.7rem;
    }

    .hello-btns {
        gap: 5rem;
    }

    .info-blocks {
        padding: 2rem 1rem 0;
    }

    .info-block-title {
        text-align: center;
    }
}

@media (max-width: 430px) {
    .hello-description {
        justify-content: center;
        align-items: center;
    }

    .hello-description p {
        text-align: center;
    }
    .nav-link {
        border-radius: 8px;
        font-size: 14px;
        padding: 0.5rem;
        margin: 0.1rem;
    }

    .hello-btns {
        gap: 3rem;
    }
}




